<html>
  <head>
    <!--
       -<link rel="stylesheet" type="text/css" href="/css/yui_reset.css" />
       -<link rel="stylesheet" type="text/css" href="/css/base.css" />
       -->
  </head>
  <div id="page">
    <%= yield %>
  </div>
</html>

