<html>
  <head>
    <!--
       -<link rel="stylesheet" type="text/css" href="/css/yui_reset.css" />
       -<link rel="stylesheet" type="text/css" href="/css/base.css" />
       -->
  </head>
  <body>
    <title>Site</title>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>

